.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menuBox {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}
.btnW{
    width: 8vw;
}